@model MailletAssignment3.Models.Invoice
@{
    ViewBag.Title = "Upsert";
}

<h2>Upsert An Invoice</h2>

@using (Html.BeginForm("Upsert", "Invoices", FormMethod.Post))
{
    @Html.HiddenFor(c => c.InvoiceID)
    <label for="cId">Customer ID</label>
    @Html.TextBoxFor(c => c.CustomerID, new { @id = "cId", @class = "form-control", type = "number", placeholder = "Customer ID" })
    <label for="date">Invoice Date</label>
    <br />
    @Html.EditorFor(c => c.InvoiceDate, new { @id = "date", @class = "form-control", type = "datetime" });
    <br />
    <label for="prodtotal">Product Total</label>
    @Html.TextBoxFor(c => c.ProductTotal, new { @id = "prodtotal", @class = "form-control", type = "number", placeholder = "Product Total" })
    <label for="tax">Sales Tax</label>
    @Html.TextBoxFor(c => c.SalesTax, new { @id = "tax", @class = "form-control", type = "number", placeholder = "Sales Tax" })
    <label for="shipping">Shipping</label>
    @Html.TextBoxFor(c => c.Shipping, new { @id = "shipping", @class = "form-control", type = "number", placeholder = "Shipping" })
    <label for="invtotal">Invoice Total</label>
    @Html.TextBoxFor(c => c.InvoiceTotal, new { @id = "invtotal", @class = "form-control", type = "number", placeholder = "Invoice Total" })
    if (Model != null)
    {
        <a href="/Invoices/Delete/@Model.InvoiceID"><input type="button" value="Delete" class="btn btn-danger" /></a>
    }
    <input type="submit" , value="Submit" , class="btn btn-info" />
}